 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(247,146,0,0.75), rgba(247,146,0,0.75)), url("images/meditation-nature-sounds.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 84px 730px 0 -50px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 35px 275px 0 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 35px 1063px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 35px 275px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 35px 1048px 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 35px 275px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 21.44% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 580px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 863px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 848px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 75px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 46.85% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 643px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 46px;
    margin-right: 628px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 463px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 45px;
    margin-right: 448px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-1 .u-text-1 {
    width: 220px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 45px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 245px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 33px;
    margin-right: 230px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 18px;
  }
}